@import '../scss/variables';

.card {
  background: $black;
  border: $green solid 1px;
  font-family: $cardsFont;

  &__btn {
    text-align: center;
    background: $blue;
    padding: 3px;
    border: $green solid 1px;
    border-radius: 3px;
    &:hover {
      background: $white;
      color: $blue;
    }
  }
}
