@import '../scss/variables';

.card {
  background: $blackCards;
  border: $green solid 1px;
  font-family: $cardsFont;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__btn {
    text-align: center;
    background: $blue;
    padding: 3px;
    border: $green solid 1px;
    border-radius: 3px;
    &:hover {
      background: $white;
      color: $blue;
    }
  }
}
