//fuentes

$inputFont: 'Cute Font', cursive;
$cardsFont: 'Special Elite', cursive;
$detailsFont: 'Shadows Into Light', cursive;

//colores

$green: greenyellow;
$black: rgba(0, 0, 0, 0.849);
$white: whitesmoke;
$blue: rgb(56, 207, 207);
