//fuentes

$inputFont: 'Cute Font', cursive;
$cardsFont: 'Special Elite', cursive;
$detailsFont: 'Shadows Into Light', cursive;

//colores

$green: greenyellow;
$blackCards: rgba(19, 22, 37, 0.555);
$black: black;
$white: whitesmoke;
$blue: rgb(56, 207, 207);
